<a href="https://colab.research.google.com/github/ByeonJuHwan/Python_Algorithm/blob/main/Section0/python_basic_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반목분 (for, while)

In [ ]:
# range 0부터 입력된 숫자까지의 정수 리스트를 만들어줌
a = range(10)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 시작지점을 주면 그 숫자부터 시작
a = range(1,11)
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
for i in range(10):
    print("hello", end=' ')

hello hello hello hello hello hello hello hello hello hello

In [ ]:
for i in range(1,11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
# 역으로 작아지게 하고싶으면 마지막에 인자값을 주어야한다.
for i in range(10,0,-1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [ ]:
i = 1
while(i<=10):
    print(i, end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
i=10
while(i>0):
    print(i, end=' ')
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [ ]:
i=1;
while True:
    print(i, end=' ')
    if(i==10):
        break
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i, end=' ')

1 3 5 7 9

In [ ]:
#for else 구문에서 else는 정상정인종료를 하지않으면 출력되지 않는다 Ex: break를 만난경우에는 출력X
for i in range(1, 11):
    print(i, end=' ')
    if i==5:
        break
else:
    print(11)

1 2 3 4 5

In [27]:
# 정상종료된경우 11이 출력된다.
for i in range(1, 11):
    print(i, end=' ')
    if i>15:
        break
else:
    print(11)

1 2 3 4 5 6 7 8 9 10 11