<a href="https://colab.research.google.com/github/ByeonJuHwan/Python_Algorithm/blob/main/Section0/python_basic_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수입력과 연산자

In [4]:
a = input("숫자를 입력하세요 : ")
print(a)

숫자를 입력하세요 : 10
10

In [9]:
a, b = input("숫자를 입력하세요 : ").split() # split()이 띄어쓰기를 분리해서 넣어준다.
print(type(a))
c = a + b
print(type(c))
print(c)
print(a + b)

숫자를 입력하세요 : 2 3
<class 'str'>
<class 'str'>
23
23

In [11]:
# 숫자로 바꾸려면 int로 바꿔야함
a = int(a)
print(type(a))

b = int(b)
print(type(b))

print(a+b)

<class 'int'>
<class 'int'>
5

In [15]:
# map 을 사용해서 바로 int타입으로 바꾸는 방법
a,b = map(int, input("숫자를 입력하세요 : ").split())
print (a + b)
print (a - b)
print (a * b)
print (a / b)
print (a // b)
print (a % b)
print (a ** b)

숫자를 입력하세요 : 2 3
5
-1
6
0.6666666666666666
0
2
8

In [16]:
a = 4.3
b = 5
c = a + b
print(type(c))

# 실수 > 정수 로 실수의 범위가 더 넓으므로 연산결과는 더 넓은 쪽으로 결과가 나온다.

<class 'float'>