<a href="https://colab.research.google.com/github/ByeonJuHwan/Python_Algorithm/blob/main/Section0/python_basic_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%99%80_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트와 내장함수(1)

In [50]:
# random하게 하나 뽑을때 사용하는 import
import random as r

In [51]:
# 빈 리스트
a = []
print(a)

b = list()
print(b)

[]
[]

In [52]:
a=[1,2,3,4,5]
print(a)
print(a[0])

b = list(range(1,11))
print(b)

[1, 2, 3, 4, 5]
1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
# 리스트 끼리 합치기
c = a + b
print(c)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
# 리스트에 값 추가하기
print(a)
a.append(6)
print(a)

# 특정 인덱스에 값 삽입하기
a.insert(3,7)
print(a)

# 맨뒤 인덱스 값 꺼내기
a.pop()
print(a)

# 특정 인덱스 값 꺼내기
a.pop(-3)
print(a)

# 값 지우기
a.remove(4)
print(a)

# 파라미터에 전달된 값이 몇번째 인덱스에 있느지 알려준다.
print(a.index(5))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 7, 4, 5, 6]
[1, 2, 3, 7, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 5]
3

In [62]:
# 리스트안의 값을 모두 더해준다. sum()
a = list(range(1,11))
print(a)
print(sum(a))

# 리스트안에 가장큰 값을 출력해준다.
print(max(a))

# 리스트안에 가장 작은 값을 출력해준다
print(min(a))
print(min(7,4))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55
10
1
4

In [68]:
# 값 무작위로 섞어보기
r.shuffle(a)
print(a)

# 오름차순 정렬
a.sort()
print(a)

# 내림차순 정렬
a.sort(reverse=True)
print(a)

[4, 3, 6, 8, 1, 2, 5, 7, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [69]:
# 리스트값 모두 삭제 
a.clear()
print(a)

[]