<a href="https://colab.research.google.com/github/ByeonJuHwan/Python_Algorithm/blob/main/Section0/python_basic_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수명 정하기

* 영문과 숫자, _ 로 이루어진다.
* 대소문자를 구분한다.
* 문자나, _로 시작한다.
* 특수문자를 사용하면 안된다. (&,% 등)
* 키워드를 사용하면 안된다. (if, for 등)

In [10]:
a = 1
A = 2
A1 = 3

print(a)
print(A)
print(a, A, A1)

In [11]:
a,b,c = 3,2,1
print(a,b,c)

3 2 1

In [12]:
#값 교환
a, b = 10, 20
print(a,b)

a,b = b, a
print(a,b)

10 20
20 10

In [16]:
# 변수 타입
a=12345
print(type(a))

a = 12.123123
print(type(a))

a = 'student'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [28]:
# 출력방식
print("number")
a, b, c = 1, 2, 3
print(a, b ,c)
print("number : ", a, b, c)
print(a, b, c, sep=', ')
print(a, b, c, sep=',')
print(a, b, c, sep='\n')

# print() 에는 기본적으로 \n이 내장되어있다. 따라사 아래 코드는 위 코드와 같은 결과가 나온다.
print(a)
print(b)
print(c)

# print() 를 가로로 출력 하고 싶을 때 \n을 없애는 법
print(a, end=' ')
print(b, end=' ')
print(c, end=' ')

number
1 2 3
number :  1 2 3
1, 2, 3
1,2,3
1
2
3
1
2
3
1 2 3