<a href="https://colab.research.google.com/github/ByeonJuHwan/Python_Algorithm/blob/main/%ED%83%90%EC%83%89%26%EC%8B%9C%EB%AE%AC%EB%A0%88%EC%9D%B4%EC%85%98/%EC%88%98%EB%93%A4%EC%9D%98_%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 수들의 합

N개의 수로 된 수열 A[1], A[2], ..., A[N] 이 있다.

 이 수열의 i번째 수부터 j번째 수까지의 합 A[i]+A[i+1]+...+A[j-1]+A[j]가 M이 되는 경우의 수를 구하는 프로그램을 작성하시오.


▣ 입력설명

첫째 줄에 N(1≤N≤10,000), M(1≤M≤300,000,000)이 주어진다. 

다음 줄에는 A[1], A[2], ..., A[N]이 공백으로 분리되어 주어진다.

 각각의 A[x]는 30,000을 넘지 않는 자연수이다.

▣ 출력설명

첫째 줄에 경우의 수를 출력한다.

▣ 입력예제 1 

8 3 

1 2 1 3 1 1 1 2

▣ 출력예제 1 

5

In [ ]:
# 내 풀이 실패..

n, m = map(int,input().split())
arr = list(map(int,input().split()))
x=0
count = 0
res = 0
while x < len(arr): # arr을 일단 돈다.
    if arr[x]>m:
        x +=1
        res = 0
        continue
    else:
        res += arr[x]
        if res == m:
            count+=1
            print('if : ',res)
            res=0
            print('count = ', count)
        elif res>m:
            res = 0
            x+=1
            print('elif :', res)
        else:
            x+=1 
            print('else :', res)
count

8 3
1 2 1 3 1 1 1 2
else : 1
if :  3
count =  1
else : 2
if :  3
count =  2
else : 1
arr[x] :  1
elif : 0
else : 1
else : 2
elif : 0

3

In [2]:
# 강의 풀이
n, m = map(int,input().split())
a = list(map(int,input().split()))

lt = 0
rt = 1
tot = a[0]
cnt = 0

while True:
    if tot<m:
        if rt<n:
            tot+=a[rt]
            rt+=1
        else: # 인덱스의 가장 마지막에 있을때
            break
    elif tot == m:
        cnt+=1
        tot -= a[lt]
        lt+=1
    else:
        tot -= a[lt]
        lt+=1
cnt

8 3
1 2 1 3 1 1 1 2

5